# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
build/
dist/
release/
*.spec

# Envs
.venv/
venv/
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Project-specific
conversion_enhanced.log
*.log
